$header-font: 'Rock Salt', cursive;
$body-font: 'Neucha', cursive;
$neutral-color: #dddfd4;
$accent-color: #F8EBBC;
$light-color: #92FFFB;
$dark-color: #173343;

html {
} // html
main {
  background: $dark-color;
  font-family: $body-font;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  h1 {
    font-family: $header-font;
    color: $accent-color;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    font-size: 6vh;
  } //h1
  p {
    color: $light-color;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    font-size: 3vh;
  } //p
} //main

@media (max-width: 500px) {
  main {
    h1 {
      font-size: 8vw;
    }
    p {
      font-size: 4vw;
    }
  }
}
